*{
    margin: 0;
    padding: 0;
}

.gray{
    background-color: rgb(80, 79, 79);
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
.bulb-container {

     position: relative;
    display: inline-block;
   /* margin: 200px;
    margin-left: 581px; */
}

  
  
  .bulb-container img {
    width: 100px; /* Adjust the size as needed */
  }
  
  .glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250%;
    height: 250%;
    background: radial-gradient(circle, rgb(255, 255, 0) 10%, rgba(255, 255, 0, 0) 34%);
    /* animation: glowAnimation 2s infinite alternate; */
  }
button{
  border: 2px solid red;
  display: inline-block;
  margin-top: 72px;
  margin-left: 0px;
  background-color: black;
  color: white;
    /* position: relative;
    top: 98px;
    left: -307px; */
}
